if A
  = `A:${A} `

if B
  = `B:${B} `

if C
  = `C:${C} `

if D
  = `D:${D} `

if E
  = `E:${E} `

if M_L_O
  = `M_L_O:${M_L_O} `

if M_L
  = `M_L:${M_L} `

if L_O
  = `L_O:${L_O} `

if M_O
  = `M_O:${M_O} `
